.vs/Cookbook/v15/Server/sqlite3/storage.ide-wal
.vs/Cookbook/v15/Server/sqlite3/storage.ide-shm
.vs/Cookbook/v15/Server/sqlite3/storage.ide
.vs/Cookbook/v15/Server/sqlite3/db.lock

.vs/

Cookbook/obj/

*.user
