@model Cookbook.Models.Recipe
@using Cookbook.Data
@inject ApplicationDbContext context
@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Create new article</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RecipeName" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger" />
            </div>
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Abstract" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Abstract" class="form-control" required></textarea>
                <span asp-validation-for="Abstract" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div  class="form-group" id="ingredients">
            <div class="col-md-2 control-label">
                <b>Ингредиенты: </b>
            </div>
            <div class="col-md-3">
                <input type="button" value="Add ingredient" id="addIngredient" class="btn btn-default" />
                <input type="button" value="Del ingredient" id="delIngredient" class="btn btn-default" />
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        counter = 0;
        $("#addIngredient").click(function () {
            if (counter < 0) counter = 0;
            $("#ingredients").append(
                '<div class="col-md-12" id=p'+counter+'></div>'
            );
            $("#p"+counter).append(
                '<div class="col-md-3 control-label"><b>Имя ингредиента #' + (counter + 1) +'</b></div>'
                );
            $("#p" + counter).append(
                '<div class="col-md-3"><input class="form-control valid" type="text" id="IngredientsForRecipe_' + counter + '__IngredientName" name="IngredientsForRecipe[' + counter +'].IngredientName" value="" aria-invalid="false"></div>' 
            );
            $("#p" + counter).append(
                '<div class="col-md-3 control-label"><b>Количество ингредиента #' + (counter + 1) +'</b></div>'
            );
            $("#p" + counter).append(
                '<div class="col-md-3"><input class="form-control valid" type="text" id="IngredientsForRecipe_' + counter + '__Amount" name="IngredientsForRecipe[' + counter +'].Amount" value="" aria-invalid="false"></div>'
            );
            counter++;
        });
        $("#delIngredient").click(function () {
            $("#p" + (counter-1)).remove();
            counter--;
        });
    </script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=2jlub46uysalskjzfgguwjvexy0ozm5nwpzvqjss52u8pa2m"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'image code paste',
            paste_data_images: true,
            toolbar: 'undo redo | image code paste',


            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '@Url.Action("UploadImage", "Recipe")');

                xhr.onload = function () {
                    var json;

                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }

                    json = xhr.responseText;

                    success(json);

                };

                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                xhr.send(formData);
            }
        });
    </script>
}