@model IEnumerable<FicBook.Models.Post>
@using FicBook.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = Context.Request.Query["genre"];
}
<h3>This is what we have been writing...</h3>
<div class="container">
    <ul class="col-md-8 list-unstyled article-list">
            <li class="row">
                @await Component.InvokeAsync("CategoryPosts", new { category= Context.Request.Query["genre"].ToString(), howMany=10})
            </li>
</ul>
</div>
