@model Cookbook.Models.Recipe
@using Cookbook.Data
@inject ApplicationDbContext context
@{ ViewData["Title"] = "Edit"; }
<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Create new article</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RecipeName" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger" />
            </div>
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Abstract" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Abstract" class="form-control" required></textarea>
                <span asp-validation-for="Abstract" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group" id="ingredients" data-count="@Model.IngredientsForRecipe.Count">
            <div class="col-md-2 control-label">
                <b>Ингредиенты: </b>
            </div>
            <div class="col-md-3">
                <input type="button" value="Add ingredient" id="addIngredient" class="btn btn-default" />
                <input type="button" value="Del ingredient" id="delIngredient" class="btn btn-default" />
            </div>
            @{ for (int i = 0; i < Model.IngredientsForRecipe.Count; i++)
                            {
                                string tempId = "p" + i.ToString();
                <div class="col-md-12" id="@tempId">
                    <div class="col-md-3 control-label"><b>Имя ингредиента #@(i+1)</b></div>
                    <div class="col-md-3">
                        <input asp-for="IngredientsForRecipe[i].IngredientName" class="form-control" />
                    </div>
                    <div class="col-md-3 control-label"><b>Количество ингредиента #@(i+1)</b></div>
                    <div class="col-md-3">
                        <input asp-for="IngredientsForRecipe[i].Amount" class="form-control" />
                    </div>
                </div> } }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/IngridientFields.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=2jlub46uysalskjzfgguwjvexy0ozm5nwpzvqjss52u8pa2m"></script>
    <script src="~/js/tinymce.js"></script>
}