@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = "Подтверждение почты";
}

<h2>Подтверждение почты</h2>
<div>
    <p>
        Подтвердите почту для того,чтобы войти на сайт.
    </p>
</div>
